* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.content {
    margin-left: 30%;
    width: 70%;
    min-height: 100vh;
    padding: 40px;
    background-color: white;
    position: relative;
}
